@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  --primary-gradient-1: hsl(6, 100, 80);
  --primary-gradient-2: hsl(335, 100%, 65%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Raleway;
}

body {
  background: #0c122c;
  overflow: hidden;
}
.background-img {
  left: 0;
  bottom: -1%;
  position: absolute;
  width: 100%;
  height: 50vh;
}

.background-img img {
  width: 100%;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 70vw;
  height: 70vh;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  justify-content: space-between;
}

.container .item1 {
  background: #1e2d69;
  height: 10rem;
  width: 40%;
  border-radius: 0% 30% 0% 0%;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  padding: 1.5rem;
}

.container .item2 {
  background: #1e2d69;
  height: 8rem;
  width: 70%;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  padding: 1.5rem;
  justify-content: space-between;
}

.storage-value {
  color: #dbd9ff;
  font-weight: 700;
  justify-content: space-between;
  width: 100%;
}
.storage-value1 {
  color: #dbd9ff;
  font-weight: 700;
  /* justify-content: space-between; */
  width: 70px;
}
.paragraph1,
.paragraph2 {
  color: #dbd9ff;
}
.left-strorage {
  left: 7.41%;
  right: 7.59%;
  top: 59.2%;
  bottom: 30%;
  background-color: #0c122c;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 10px;
}

.container5 {
  width: 459;
  height: 20px;

  /* border: 4px solid blue; */
  border-radius: 25px;
  background: #0c122c;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 10px;
}
.container6 {
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  width: 70%;
  height: 100%;
  border-radius: 25px;
}
.whiteball {
  position: relative;
  width: 10px;
  height: 10px;
  right: 25%;
  left: 95%;
  top: calc(49% - 90px / 19);
  background: #ffffff;
  align-items: center;
  border-radius: 10px;
}
.container7 {
  border-radius: 2px;
  mix-blend-mode: normal;
  opacity: 0.5;
  display: flex;
  width: 176px;
  height: 48px;
  left: 301px;
  top: 402px;
  justify-content: space-between;
}
.document {
  width: 48px;
  height: 48px;
  left: 301px;
  top: 402px;
  border-radius: 10px;
  background: #0c122c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.folder {
  width: 48px;
  height: 48px;
  left: 301px;
  top: 402px;
  border-radius: 10px;
  background: #0c122c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload {
  width: 48px;
  height: 48px;
  left: 301px;
  top: 402px;
  border-radius: 10px;
  background: #0c122c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 48px;
  height: 48px;
  left: 301px;
  top: 402px;
}
.left {
  /*  color: #dbd9ff; */
  font-weight: 700;
  justify-content: space-between;
  width: 70px;
}
.storage-left {
  position: absolute;
  right: 25px;
  bottom: 60.18%;
  background: #ffffff;
  border-radius: 6px;
  height: 15%;
  width: 15%;
  padding: 6px 8px;
  display: flex;
  align-items: center;
}
.storage-left h4 {
  left: 15px;
  width: -2px;
  padding: 2px;
  font-size: 40px;
  text-transform: uppercase;
}
.storage-left h4 span {
  font-size: 10px;
  margin-left: 5px;
  color: hsl(229, 7%, 55%);

}
.storage-left h4::before{
  content:"";
  position: absolute;
  background-color: white;
  width: 15px;
  height: 10px;
  right:0px;
  bottom: 0px;
  transform: skew(180deg, 34deg);
}
.number {
  position: absolute;
  height: 40px;
  left: 0%;
  right: 48.85%;
  top: calc(50% - 40px / 2);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: right;
  color: #0c122c;
  text-align: center;
}

.mobile-bg img {
  display: none;
}

.del {
  position: absolute;
  height: 14px;
  left: 78.02%;
  right: 100%;
  top: calc(50% - 14px / 2 + 2px);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 1px;
  color: #0c122c;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.storage-value1 {
  position: absolute;
  height: 14px;
  left: 40%;
  right: 93.93%;
  top: calc(50% - 14px / 2);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 60px;
  text-align: right;
  color: #dbd9ff;
}
.storage-value2 {
  position: absolute;
  height: 14px;
  left: 93.59%;
  right: 20%;
  top: calc(50% - 14px / 2);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 60px;
  text-align: right;
  color: #dbd9ff;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 213px;
    top: 339px;
    right: 284px;
  }

  .item2 {
    display: flex;
    flex-direction: column;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3rem;
    bottom: 4px;
  }
  .container .item1 {
    background: #1e2d69;
    height: 10rem;
    width: 90%;
    border-radius: 0% 30% 0% 0%;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    padding: 2.5rem;
  }

  .container .item2 {
    background: #1e2d69;
    height: 9rem;
    width: 90%;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px;
    padding: 2.5rem;
    justify-content: space-between;
  }

  
 
  .mobile-bg img {
    display: inline;
  }

  .storage-left {
    position: absolute;
    right: 15px;
    bottom: 60.18%;
    background: #ffffff;
    border-radius: 6px;
    height: 20%;
    width: 15%;
    padding: 6px 8px;
    display: flex;
    align-items: center;
  }

  .storage-value1 {
    color: #dbd9ff;
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
  }

  .storage-value2 {
    color: #dbd9ff;
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
  }

  .container5 {
    width: 459;
    height: 20px;
  
    border-radius: 25px;
    background: #0c122c;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 10px;
  }

  .container6 {
    background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
    width: 70%;
    height: 100%;
    border-radius: 25px;
  
}

.storage-left h4 {
  left: 15px;
  width: -2px;
  padding: 2px;
  font-size: 40px;
  text-transform: uppercase;
}
.storage-left h4 span {
  font-size: 10px;
  margin-left: 5px;
  color: hsl(229, 7%, 55%);

}
.storage-left h4::before{
  content:"";
  position: absolute;
  background-color: white;
  width: 15px;
  height: 10px;
  right:0px;
  bottom: 0px;
  transform: skew(180deg, 34deg);

  } 
 
